
form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-height: 60%;
    margin: 10% 20% 0 20%;
    color: rgb(0, 0, 0);
    background-color: rgb(95, 167, 73);
    border:7px double rgb(247, 226, 200);
    border-radius: 25px;
    padding: 5rem 2rem;
}
form td{
    font-size: 2rem;
}
form .submit-btn{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 3.7rem;
    font-size: 2rem;
    padding: 4px 10px;
    background-color: rgb(247, 226, 200);
    cursor: pointer;

}
form .submit-btn:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
.kayıt{
    margin-top: 3rem;
    font-size: 2rem;
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.kayıt li{
    padding-top: 4rem;
}
.kayıt a{
    padding: 10px;
    font-size: 2rem;
    border: solid 1px wheat;
    border-radius: 10px;
    color: white;
}
.kayıt a:hover{
    background-color: rgb(53, 161, 89);
    border: rgb(53, 161, 89);
}